/* style text  */
#mau1{  
    text-transform: capitalize;
    font-weight: 900;
    font-size: 17px;
}

/* 2.viết thường */
#mau2{
    text-transform: lowercase;
}
/* 3. toàn bộ in hoa */
#mau3{
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 900;
}
#mau4{  
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
}
#mau5{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
}
#mau6{  
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
}

/* start container */
.ALL{
    width: 100%;
    height: auto;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
}
/* end container */
/* start header */
.header{
    width: 100%;
    height:100px;
    border-bottom:solid 1px black ;
    display: flex;
    justify-content: space-between;
}
.header img{
    width: 100px;
    height: 95px;
}
.header ul{
    margin-top: 40px;
    margin-left:-20px ;
}
.header ul li{
    display: inline;
    margin-left: 20px;
}
.header a{
    text-decoration: none;
    color: black;
}
.content  .list_voucher{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: outset;
    margin: 20px 0px 20px 0px;
    border-radius: 10px;
    padding: 20px;
}
.list_voucher .img{
    width: 40%;
}
.list_voucher .img img{
    width: 100%;
    height: 300px;
}

.list_voucher .voucher{
    width: 55%;
}
.list_voucher ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: -50px;
}
.list_voucher ul li{
    padding: 5px;
    margin-left: 15px;
    margin-bottom: 5px ;
    border-radius: 10px 0px 10px 0px;
    border-left: solid 5px #8B0016  ;
    background-color:#f79a89 ;
    color: #fff;
}
.content .list_content{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    margin-bottom: 20px;
    /* border: solid 1px black; */
}
.content .content_item{
    width: 270px;
    height: 410px;
    padding: 10px;
    margin: 0px 0px 20px 9px;
    border: outset;
}
.content .list_content img{
    width: 100%;
    height:200px;
}
.list_content_item{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.list_content_item .name{
    width: 65%;
}
.list_content_item .price{
    width: 35%;
    display: flex;
    flex-wrap: wrap;
}
.describe{

    width: 100%;
    height: 80px;
    /* border: solid 1px black; */
}
.button button,svg{
    margin-top: 30px;
    margin-left: 25px;
}
.footer{
    width: 100%;
    height: 510px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: black;
    color: #fff;
}
.footer .list_footer{
    display: inline-flex;
    justify-content: space-between;
    margin-top: 50px;
    /* padding-left: 50px;
    padding-right: 50px; */
    width: 100%;
    height: 45%;
    border-bottom: solid 2px #fff;
}
.footer .footer_items{
    width: 250px;
    height: 200px;

}
.footer .footer_items ul {
    list-style: none;
}
.footer .footer_items ul li{
    margin-left: -30px;
}