<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/danhmuc.css">
    <!-- link boostrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- link font text -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap" rel="stylesheet">
    <title>KFC</title>
</head>
<body>
    <div class="ALL">
        <div class="container">
            <div class="header">
                <a href="../html/index.html"><img src="../image/logo.jpg" alt="" class="logo"></a>
                <ul id="mau5">
                    <a href="../html/danhmuc.html"><li class="list-menu">thực đơn</li></a>
                    <a href="../html/khuyenmai.html"><li class="list-menu">khuyến mãi</li></a>
                    <a href="../html/hethongnhahang.html"><li class="list-menu">hệ thống nhà hàng</li></a>
                    <a href="../html/gioithieu.html"><li class="list-menu">giới thiệu</li></a>
                </ul>
                <div class="button">
                    <a href="../html/giohang.html"> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg></a>
                    <a href="../html/login.html"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                      </svg></a>
                </div>
            </div>
            <div class="banner"></div>
            <div class="content">
                <p id="mau3">món mới</p>
                <div class="list_content">
                    <div class="content_item">
                        <a href="./chitiet.html"><img src="../image/mon3.jpg" alt=""></a>
                        <div class="list_content_item" id="mau1">
                            <p class="name">1  Gà Địa Trung Hả </p>
                            <p class="price">41.000đ</p>
                        </div>
                        <p id="mau4" class="describe">1 Miếng Gà Địa Trung Hả</p>
                        <div class="d-grid gap-5 col-9 mx-auto" id="mau4" style=" width: 230px; margin-top: 10px;">
                            <button class="btn btn-secondary" type="button">Thêm</button>
                        </div>
                    </div>
                    <div class="content_item">
                        <a href="./chitiet.html"><img src="../image/mon2.jpg" alt=""></a>
                        <div class="list_content_item" id="mau1">
                            <p class="name">2  Gà Địa Trung Hải </p>
                            <p class="price">79.000đ</p>
                        </div>
                        <p id="mau4" class="describe">2 Miếng Gà Địa Trung Hải</p>
                        <div class="d-grid gap-5 col-9 mx-auto" id="mau4" style=" width: 230px; margin-top: 10px;">
                            <button class="btn btn-secondary" type="button">Thêm</button>
                        </div>
                    </div>
                    <div class="content_item">
                        <a href="./chitiet.html"><img src="../image/mon1.jpg" alt=""></a>
                        <div class="list_content_item" id="mau1">
                            <p class="name">3  Gà Địa Trung Hải </p>
                            <p class="price">117.000đ</p>
                        </div>
                        <p id="mau4" class="describe">3 Miếng Gà Địa Trung Hải</p>
                        <div class="d-grid gap-5 col-9 mx-auto" id="mau4" style=" width: 230px; margin-top: 10px;">
                            <button class="btn btn-secondary" type="button">Thêm</button>
                        </div>
                    </div>
                    <div class="content_item">
                        <a href="./chitiet.html"><img src="../image/mon4.jpg" alt=""></a>
                        <div class="list_content_item" id="mau1">
                            <p class="name">6  Gà Địa Trung Hải </p>
                            <p class="price">231.000đ</p>
                        </div>
                        <p id="mau4" class="describe">6 Miếng Gà Địa Trung Hải</p>
                        <div class="d-grid gap-5 col-9 mx-auto" id="mau4" style=" width: 230px; margin-top: 10px;">
                            <button class="btn btn-secondary" type="button">Thêm</button>
                        </div>
                    </div>
                    <div class="content_item">
                        <a href="./chitiet.html"><img src="../image/combo-ga-cuon-bac-kinh.jpg" alt=""></a>
                        <div class="list_content_item" id="mau1">
                            <p class="name">GÀ CUỘN BẮC KINH HD </p>
                            <p class="price">89.000đ</p>
                        </div>
                        <p id="mau4" class="describe">01 Gà Cuộn Bắc Kinh + 01 miếng Gà rán (OR/ HS/ NSC) + 01 Khoai tây chiên (vừa) hoặc 01 Khoai tây nghiền (vừa) & 01 Bắp cải trộn (vừa)</p>
                        <div class="d-grid gap-5 col-9 mx-auto" id="mau4" style=" width: 230px; margin-top: 10px;">
                            <button class="btn btn-secondary" type="button">Thêm</button>
                        </div>
                    </div>
                    <div class="content_item">
                        <a href="./chitiet.html"><img src="../image/combo-ga-cuon-dia-trung-hai-c.jpg" alt=""></a>
                        <div class="list_content_item" id="mau1">
                            <p class="name">COMBO GÀ ĐỊA TRUNG HẢI C </p>
                            <p class="price">199.000đ</p>
                        </div>
                        <p id="mau4" class="describe">3 Miếng Gà Địa Trung Hải + 1 Miếng Gà (bất kỳ) + 3 Gà Miếng Nuggets + 2 Pepsi Lon</p>
                        <div class="d-grid gap-5 col-9 mx-auto" id="mau4" style=" width: 230px; margin-top: 10px;">
                            <button class="btn btn-secondary" type="button">Thêm</button>
                        </div>
                    </div>
                    <div class="content_item">
                        <a href="./chitiet.html"><img src="../image/B-Cajun.jpg" alt=""></a>
                        <div class="list_content_item" id="mau1">
                            <p class="name">COMBO GÀ QUE KEM XỐT CAJUN B </p>
                            <p class="price">89.000đ</p>
                        </div>
                        <p id="mau4" class="describe">1 Gà Que Kem Xốt Cajun + 1 Miếng Gà + 1 Pepsi Lon</p>
                        <div class="d-grid gap-5 col-9 mx-auto" id="mau4" style=" width: 230px; margin-top: 10px;">
                            <button class="btn btn-secondary" type="button">Thêm</button>
                        </div>
                    </div>
                </div>
                <p id="mau3">combo 1 người</p>
                <div class="list_content">
                    <div class="content_item">
                        <a href="./chitiet.html"><img src="../image/D1-new.jpg" alt=""></a>
                        <div class="list_content_item" id="mau1">
                            <p class="name">combo gà rán</p>
                            <p class="price">87.000đ</p>
                        </div>
                        <p id="mau4" class="describe">2 Miếng Gà +1 Khoai tây chiên vừa / 2 Gà Miếng Nuggets + 1 Lipton vừa</p>
                        <div class="d-grid gap-5 col-9 mx-auto" id="mau4" style=" width: 230px; margin-top: 10px;">
                            <button class="btn btn-secondary" type="button">Thêm</button>
                        </div>
                    </div>
                    <div class="content_item">
                        <a href="./chitiet.html"><img src="../image/D3-new.jpg" alt=""></a>
                        <div class="list_content_item" id="mau1">
                            <p class="name">COMBO mì ý</p>
                            <p class="price">87.000đ</p>
                        </div>
                        <p id="mau4" class="describe">1 Mì Ý Xốt Cà Gà Viên + 1 Miếng Gà+ 1 Lon Pepsi Can</p>
                        <div class="d-grid gap-5 col-9 mx-auto" id="mau4" style=" width: 230px; margin-top: 10px;">
                            <button class="btn btn-secondary" type="button">Thêm</button>
                        </div>
                    </div>
                    <div class="content_item">
                        <a href="./chitiet.html"><img src="../image/D4-new.jpg" alt=""></a>
                        <div class="list_content_item" id="mau1">
                            <p class="name">COMBO salad hạt </p>
                            <p class="price">78.000đ</p>
                        </div>
                        <p id="mau4" class="describe">1 Miếng Gà + 1 Salad Hạt + 1 Lon Peps</p>
                        <div class="d-grid gap-5 col-9 mx-auto" id="mau4" style=" width: 230px; margin-top: 10px;">
                            <button class="btn btn-secondary" type="button">Thêm</button>
                        </div>
                    </div>
                    <div class="content_item">
                        <a href="./chitiet.html"><img src="../image/D5.jpg" alt=""></a>
                        <div class="list_content_item" id="mau1">
                            <p class="name">COMBO burger </p>
                            <p class="price">89.000đ</p>
                        </div>
                        <p id="mau4" class="describe">1 Burger Zinger/Burger Gà Quay Flava/Burger Tôm + 1 Miếng Gà Rán + 1 Lon Pepsi</p>
                        <div class="d-grid gap-5 col-9 mx-auto" id="mau4" style=" width: 230px; margin-top: 10px;">
                            <button class="btn btn-secondary" type="button">Thêm</button>
                        </div>
                    </div>
                </div>
                <p id="mau3">combo nhóm</p>
                <div class="list_content">
                    <div class="content_item">
                        <a href="./chitiet.html"><img src="../image/D6.jpg" alt=""></a>
                        <div class="list_content_item" id="mau1">
                            <p class="name">COMBO nhóm 1 </p>
                            <p class="price">172.000đ</p>
                        </div>
                        <p id="mau4" class="describe">3 Miếng Gà + 1 Burger Zinger/Burger Tôm/Burger Phi-lê Gà Quay + 2 Lon Pepsi</p>
                        <div class="d-grid gap-5 col-9 mx-auto" id="mau4" style=" width: 230px; margin-top: 10px;">
                            <button class="btn btn-secondary" type="button">Thêm</button>
                        </div>
                    </div>
                    <div class="content_item">
                        <a href="./chitiet.html"><img src="../image/D7-new.jpg" alt=""></a>
                        <div class="list_content_item" id="mau1">
                            <p class="name">COMBO nhóm 2 </p>
                            <p class="price">191.000đ</p>
                        </div>
                        <p id="mau4" class="describe">4 Miếng Gà + 1 Khoai tây chiên lớn / 2 Thanh Bí Phô-mai + 2 Pepsi Lon</p>
                        <div class="d-grid gap-5 col-9 mx-auto" id="mau4" style=" width: 230px; margin-top: 10px;">
                            <button class="btn btn-secondary" type="button">Thêm</button>
                        </div>
                    </div>
                    <div class="content_item">
                        <a href="./chitiet.html"><img src="../image/D8-new.jpg" alt=""></a>
                        <div class="list_content_item" id="mau1">
                            <p class="name">COMBO nhóm 3 </p>
                            <p class="price">228.000đ</p>
                        </div>
                        <p id="mau4" class="describe">5 Miếng Gà + 1 Popcorn (Vừa) / 4 Gà Miếng Nuggets+ 2 Pepsi Lon</p>
                        <div class="d-grid gap-5 col-9 mx-auto" id="mau4" style=" width: 230px; margin-top: 10px;">
                            <button class="btn btn-secondary" type="button">Thêm</button>
                        </div>
                    </div>
                </div>
                <p id="mau3">gà rán - gà quay</p>
                <div class="list_content">
                    <div class="content_item">
                        <a href="./chitiet.html"><img src="../image/1-Fried-Chicken.jpg" alt=""></a>
                        <div class="list_content_item" id="mau1">
                            <p class="name">1 miếng gà rán </p>
                            <p class="price">35.000đ</p>
                        </div>
                        <p id="mau4" class="describe">1 Miếng Gà Giòn Cay/Gà Truyền Thống/Gà Giòn Không Cay</p>
                        <div class="d-grid gap-5 col-9 mx-auto" id="mau4" style=" width: 230px; margin-top: 10px;">
                            <button class="btn btn-secondary" type="button">Thêm</button>
                        </div>
                    </div>
                    <div class="content_item">
                        <a href="./chitiet.html"><img src="../image/2-Fried-Chicken.jpg" alt=""></a>
                        <div class="list_content_item" id="mau1">
                            <p class="name">2 miếng gà rán</p>
                            <p class="price">70.000đ</p>
                        </div>
                        <p id="mau4" class="describe">2 Miếng Gà Giòn Cay/Gà Truyền Thống/Gà Giòn Không Cay</p>
                        <div class="d-grid gap-5 col-9 mx-auto" id="mau4" style=" width: 230px; margin-top: 10px;">
                            <button class="btn btn-secondary" type="button">Thêm</button>
                        </div>
                    </div>
                    <div class="content_item">
                        <a href="./chitiet.html"><img src="../image/BJ.jpg" alt=""></a>
                        <div class="list_content_item" id="mau1">
                            <p class="name">1 miếng đùi gà quay </p>
                            <p class="price">74.000đ</p>
                        </div>
                        <p id="mau4" class="describe">1 Miếng Đùi Gà Quay Giấy Bạc/Đùi Gà Quay Tiêu</p>
                        <div class="d-grid gap-5 col-9 mx-auto" id="mau4" style=" width: 230px; margin-top: 10px;">
                            <button class="btn btn-secondary" type="button">Thêm</button>
                        </div>
                    </div>
                    <div class="content_item">
                        <a href="./chitiet.html"><img src="../image/MOD-PHI-LE-GA-QUAY.jpg" alt=""></a>
                        <div class="list_content_item" id="mau1">
                            <p class="name">1 miếng phi-lê gà quay</p>
                            <p class="price">38.000đ</p>
                        </div>
                        <p id="mau4" class="describe">1 Miếng Phi-lê Gà Quay Flava/Phi-lê Gà Quay Tiêu</p>
                        <div class="d-grid gap-5 col-9 mx-auto" id="mau4" style=" width: 230px; margin-top: 10px;">
                            <button class="btn btn-secondary" type="button">Thêm</button>
                        </div>
                    </div>
                    <div class="content_item">
                        <a href="./chitiet.html"><img src="../image/3-HW.jpg" alt=""></a>
                        <div class="list_content_item" id="mau1">
                            <p class="name">3 Cánh Gà Hot Wings </p>
                            <p class="price">54.000đ</p>
                        </div>
                        <p id="mau4" class="describe">3 Cánh Gà Hot Wings</p>
                        <div class="d-grid gap-5 col-9 mx-auto" id="mau4" style=" width: 230px; margin-top: 10px;">
                            <button class="btn btn-secondary" type="button">Thêm</button>
                        </div>
                    </div>
                </div>
                <p id="mau3">burger - cơm - mì ý</p>
                <div class="list_content">
                    <div class="content_item">
                        <a href="./chitiet.html"><img src="../image/Burger-Shrimp.jpg" alt=""></a>
                        <div class="list_content_item" id="mau1">
                            <p class="name"> Burger Tôm </p>
                            <p class="price">54.000đ</p>
                        </div>
                        <p id="mau4" class="describe">1 Burger Tôm</p>
                        <div class="d-grid gap-5 col-9 mx-auto" id="mau4" style=" width: 230px; margin-top: 10px;">
                            <button class="btn btn-secondary" type="button">Thêm</button>
                        </div>
                    </div>
                    <div class="content_item">
                        <a href="./chitiet.html"><img src="../image/Burger-Zinger.jpg" alt=""></a>
                        <div class="list_content_item" id="mau1">
                            <p class="name"> Burger Zinger </p>
                            <p class="price">44.000đ</p>
                        </div>
                        <p id="mau4" class="describe">1 Burger Zinger</p>
                        <div class="d-grid gap-5 col-9 mx-auto" id="mau4" style=" width: 230px; margin-top: 10px;">
                            <button class="btn btn-secondary" type="button">Thêm</button>
                        </div>
                    </div>
                    <div class="content_item">
                        <a href="./chitiet.html"><img src="../image/Rice-Skewer.jpg" alt=""></a>
                        <div class="list_content_item" id="mau1">
                            <p class="name"> Cơm Gà Xiên Que </p>
                            <p class="price">45.000đ</p>
                        </div>
                        <p id="mau4" class="describe">1 Cơm Gà Xiên Que</p>
                        <div class="d-grid gap-5 col-9 mx-auto" id="mau4" style=" width: 230px; margin-top: 10px;">
                            <button class="btn btn-secondary" type="button">Thêm</button>
                        </div>
                    </div>
                    <div class="content_item">
                        <a href="./chitiet.html"><img src="../image/Rice-Teriyaki.jpg" alt=""></a>
                        <div class="list_content_item" id="mau1">
                            <p class="name"> Cơm Gà Teriyaki </p>
                            <p class="price">45.000đ</p>
                        </div>
                        <p id="mau4" class="describe">1 Cơm Gà Teriyaki</p>
                        <div class="d-grid gap-5 col-9 mx-auto" id="mau4" style=" width: 230px; margin-top: 10px;">
                            <button class="btn btn-secondary" type="button">Thêm</button>
                        </div>
                    </div>
                    <div class="content_item">
                        <a href="./chitiet.html"><img src="../image/Rice-Flava.jpg" alt=""></a>
                        <div class="list_content_item" id="mau1">
                            <p class="name"> Cơm Xiên Gà Tenderods </p>
                            <p class="price">45.000đ</p>
                        </div>
                        <p id="mau4" class="describe">1 Cơm Xiên Gà Tenderods</p>
                        <div class="d-grid gap-5 col-9 mx-auto" id="mau4" style=" width: 230px; margin-top: 10px;">
                            <button class="btn btn-secondary" type="button">Thêm</button>
                        </div>
                    </div>
                    <div class="content_item">
                        <a href="./chitiet.html"><img src="../image/MY-Y-POP.jpg" alt=""></a>
                        <div class="list_content_item" id="mau1">
                            <p class="name"> Mì Ý Xốt Cà Xúc Xích Gà Viên </p>
                            <p class="price">40.000đ</p>
                        </div>
                        <p id="mau4" class="describe">1 Mì Ý Xốt Cà Xúc Xích Gà Viên</p>
                        <div class="d-grid gap-5 col-9 mx-auto" id="mau4" style=" width: 230px; margin-top: 10px;">
                            <button class="btn btn-secondary" type="button">Thêm</button>
                        </div>
                    </div>
                    <div class="content_item">
                        <a href="./chitiet.html"><img src="../image/MY-Y-ZINGER.jpg" alt=""></a>
                        <div class="list_content_item" id="mau1">
                            <p class="name">Mì Ý Xốt Cà Xúc Xích Gà Zinger</p>
                            <p class="price">60.000đ</p>
                        </div>
                        <p id="mau4" class="describe">1 Mì Ý Xốt Cà Xúc Xích Gà Zinger</p>
                        <div class="d-grid gap-5 col-9 mx-auto" id="mau4" style=" width: 230px; margin-top: 10px;">
                            <button class="btn btn-secondary" type="button">Thêm</button>
                        </div>
                    </div>
                </div>
                <p id="mau3">thước uống & đồ tráng miệng</p>
                <div class="list_content">
                    <div class="content_item">
                        <a href="./chitiet.html"><img src="../image/1-eggtart.jpg" alt=""></a>
                        <div class="list_content_item" id="mau1">
                            <p class="name">1 Bánh Trứng </p>
                            <p class="price">18.000đ</p>
                        </div>
                        <p id="mau4" class="describe">1 Bánh Trứngh</p>
                        <div class="d-grid gap-5 col-9 mx-auto" id="mau4" style=" width: 230px; margin-top: 10px;">
                            <button class="btn btn-secondary" type="button">Thêm</button>
                        </div>
                    </div>
                    <div class="content_item">
                        <a href="./chitiet.html"><img src="../image/4-eggtart.jpg" alt=""></a>
                        <div class="list_content_item" id="mau1">
                            <p class="name">4 Bánh Trứng </p>
                            <p class="price">58.000đ</p>
                        </div>
                        <p id="mau4" class="describe">4 Bánh Trứng</p>
                        <div class="d-grid gap-5 col-9 mx-auto" id="mau4" style=" width: 230px; margin-top: 10px;">
                            <button class="btn btn-secondary" type="button">Thêm</button>
                        </div>
                    </div>
                    <div class="content_item">
                        <a href="./chitiet.html"><img src="../image/2-taro.jpg" alt=""></a>
                        <div class="list_content_item" id="mau1">
                            <p class="name">2 Viên Khoai Môn Kim Sa </p>
                            <p class="price">26.000đ</p>
                        </div>
                        <p id="mau4" class="describe">2 Viên Khoai Môn Kim Sa</p>
                        <div class="d-grid gap-5 col-9 mx-auto" id="mau4" style=" width: 230px; margin-top: 10px;">
                            <button class="btn btn-secondary" type="button">Thêm</button>
                        </div>
                    </div>
                    <div class="content_item">
                        <a href="./chitiet.html"><img src="../image/2-Pumcheese.jpg" alt=""></a>
                        <div class="list_content_item" id="mau1">
                            <p class="name">2 Thanh Bí Phô Mai </p>
                            <p class="price">28.000đ</p>
                        </div>
                        <p id="mau4" class="describe">2 Thanh Bí Phô Mai</p>
                        <div class="d-grid gap-5 col-9 mx-auto" id="mau4" style=" width: 230px; margin-top: 10px;">
                            <button class="btn btn-secondary" type="button">Thêm</button>
                        </div>
                    </div>
                    <div class="content_item">
                        <a href="./chitiet.html"><img src="../image/Pepsi-Can.jpg" alt=""></a>
                        <div class="list_content_item" id="mau1">
                            <p class="name">Pepsi Lon </p>
                            <p class="price">17.000đ</p>
                        </div>
                        <p id="mau4" class="describe">Pepsi Lon</p>
                        <div class="d-grid gap-5 col-9 mx-auto" id="mau4" style=" width: 230px; margin-top: 10px;">
                            <button class="btn btn-secondary" type="button">Thêm</button>
                        </div>
                    </div>
                    <div class="content_item">
                        <a href="./chitiet.html"><img src="../image/Peach-Tea.jpg" alt=""></a>
                        <div class="list_content_item" id="mau1">
                            <p class="name">Trà Đào </p>
                            <p class="price">24.000đ</p>
                        </div>
                        <p id="mau4" class="describe">Trà Đào</p>
                        <div class="d-grid gap-5 col-9 mx-auto" id="mau4" style=" width: 230px; margin-top: 10px;">
                            <button class="btn btn-secondary" type="button">Thêm</button>
                        </div>
                    </div>
                    <div class="content_item">
                        <a href="./chitiet.html"><img src="../image/Lipton.jpg" alt=""></a>
                        <div class="list_content_item" id="mau1">
                            <p class="name">Trà Chanh Lipton</p>
                            <p class="price">17.000đ</p>
                        </div>
                        <p id="mau4" class="describe">Trà Chanh Lipton</p>
                        <div class="d-grid gap-5 col-9 mx-auto" id="mau4" style=" width: 230px; margin-top: 10px;">
                            <button class="btn btn-secondary" type="button">Thêm</button>
                        </div>
                    </div>
                    <div class="content_item">
                        <a href="./chitiet.html"><img src="../image/7Up-Can.jpg" alt=""></a>
                        <div class="list_content_item" id="mau1">
                            <p class="name">7Up Lon </p>
                            <p class="price">17.000đ</p>
                        </div>
                        <p id="mau4" class="describe">7Up Lon</p>
                        <div class="d-grid gap-5 col-9 mx-auto" id="mau4" style=" width: 230px; margin-top: 10px;">
                            <button class="btn btn-secondary" type="button">Thêm</button>
                        </div>
                    </div>
                    <div class="content_item">
                        <a href="./chitiet.html"><img src="../image/Aquafina-500ml.jpg" alt=""></a>
                        <div class="list_content_item" id="mau1">
                            <p class="name">Aquafina 500ml </p>
                            <p class="price">15.000đ</p>
                        </div>
                        <p id="mau4" class="describe">Aquafina 500ml</p>
                        <div class="d-grid gap-5 col-9 mx-auto" id="mau4" style=" width: 230px; margin-top: 10px;">
                            <button class="btn btn-secondary" type="button">Thêm</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="list_footer">
                <div class="footer_items">
                    <p id="mau6">danh mục món ăn</p>
                    <ul id="mau4">
                        <li>combo 1 người</li>
                        <li>combo nhóm</li>
                        <li>gà rán - gà quay</li>
                        <li>burger - cơm - mì ý</li>
                        <li>thước uống & tráng miệng</li>
                    </ul>
                </div>
                <div class="footer_items">
                    <p id="mau6">về kfc</p>
                    <ul id="mau4">
                        <li>câu chuyện của chúng tôi</li>
                        <li>tin khuyến mãi</li>
                        <li>tin tức kfc</li>
                        <li>tuyển dụng</li>
                        <li>đặt tiệc sinh nhật</li>
                    </ul>
                </div>
                <div class="footer_items">
                    <p id="mau6">liên hệ kfc</p>
                    <ul id="mau4">
                        <li>theo dõi đơn hàng</li>
                        <li>hệ thống nhà hàng</li>
                        <li>liên hệ kfc</li>
                    </ul>
                </div>
                <div class="footer_items">
                    <p id="mau6">chính sách</p>
                    <ul id="mau4">
                        <li>chính sách hoạt động</li>
                        <li>chính sahcs và quy định</li>
                        <li>chính sách bảo mật thông tin</li>
                    </ul>
                </div>
            </div>
           
            <div class="footer_item">
                <p id="mau3">CÔNG TY LIÊN DOANH TNHH KFC VIỆT NAM</p>
                <p >Số 292 Bà Triệu, P. Lê Đại Hành, Q. Hai Bà Trưng, TP. Hà Nội. <br>
                    Điện thoại: (028) 38489828 <br>
                    Email: lienhe@kfcvietnam.com.vn <br>
                    Mã số thuế: 0100773885 <br>
                    Ngày cấp: 29/10/1998 - Nơi cấp: Cục Thuế Thành Phố Hà Nội</p>
            </div>
        </div>
    </div>
</body>
</html>